<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deloitte</title>

</head>
<body>
<!-- Creating the first header -->
<h1>Two Deloitte Service Lines</h1>
     <h2>Risk and Financial Advisory</h2>
        <ul>
            <li>Commercial</li>
            <li>Government and Public Services (GPS)</li>
        </ul>
<p><strong>Risk and Financial Advisory</strong> is <em>Internal Auditing Services</em></p>

    <h2>Tax and Audit</h2>
        <ol>
            <li>Commercial</li>
            <li>Government and Public Services (GPS)</li>
        </ol>
<p><strong>Tax and Audit</strong> are <em>Financial Statement and Audit Readiness Services</em></p>


    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT443</td>
            <td>Spring2023</td>
        </tr>
        <tr>
            <td>BMGT495</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <!-- These are links to my, Deloitte, and Chipotle's Website -->
    <p>A link to <a href="http://localhost:63342/helloWorld/templates/hello.html?_ijt=19hio2155al0ki58djii4fl702">my website</a>.</p>
    <p>A link to <a href="https://www2.deloitte.com/us/en.html">Deloitte's Website</a>.</p>
    <p>A link to <a href="https://www.chipotle.com/" target="_blank">Chiptole's Website</a>.</p>

    <!-- This is a photo of the Smith logo. -->
    <img alt="Smith Logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" >
</body>
</html>

